.jumbotron {
  background-color: 3FB7AE;
  color: #343A40;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold; }

.navbar-brand {
  color: #F69DB8; }

footer {
  padding: 15px 15px 0 15px;
  background-color: 3FB7AE;
  margin-top: 15px;
  margin-bottom: 0px; }

.cardHome {
  margin-top: 10px;
  margin-bottom: 10px; }

.cardHome:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.btn-card {
  width: 100%; }

.icon-footer {
  padding-right: 5px; }

.img-landing {
  width: 100%;
  height: 300px; }

.tab-content {
  padding-top: 15px; }

.carousel {
  margin-top: 15px; }
