$blue: 3FB7AE;
$pink: #F69DB8;
$black: #343A40;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $blue;
    color: $black;
    @include margenes(20px, 5px);
    font-weight: bold;
}

.navbar-brand{
    color: $pink;
}

footer{
    padding: 15px 15px 0 15px;
    background-color: $blue;
    @include margenes(15px,0px );
}

.cardHome{
    margin-top:10px;
    margin-bottom:10px;
}

.cardHome:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
.btn-card{
    width: 100%;
}

.icon-footer{
    padding-right: 5px;
}

.img-landing{
    width: 100%;
    height: 300px;
}

.tab-content{
    padding-top: 15px;
}

.carousel{
    margin-top: 15px;
}